.home-jumbotron {
    background: var(--eerie-black);
    margin: 0;
    position: relative;
    height: 100vh;
    overflow: hidden;

    h1 {
        color: var(--almond);
        text-shadow: 1px 1px 1px rgb(100, 100, 100);
        font-family: 'Acme', sans-serif;
        font-size: 7em;
    }

    .item-container {
        width: 50%;

        .hi-box {
            display: block;
            animation: slide-down 0.75s forwards ease-out;

            h1 {
                display: block;
                margin: 0;
            }
        }

        .intro-box {
            display: block;

            h1 {
                opacity: 0;
                margin: 0;
                line-height: 120px;

                &:nth-child(1) {
                    animation: slide-right 0.75s forwards ease-out;
                    animation-delay: 0.75s;
                }

                &:nth-child(2) {
                    animation: slide-up 0.75s forwards ease-out;
                    animation-delay: 1.5s;
                }
            }
        }
    }
}

@media only screen and (max-width: 1500px) {
    .home-jumbotron .item-container {
        width: 70%;
    }
}

@media only screen and (max-width: 1100px) {
    .home-jumbotron .item-container {
        width: 80%;

        h1 {
            font-size: 6em;
        }
    }
}

@media only screen and (max-width: 950px) {
    .home-jumbotron .item-container {
        width: 100%;

        h1 {
            font-size: 4.5em;
            text-align: center;
        }

        .intro-box h1 {
            line-height: 80px;
        }
    }
}

@media only screen and (max-width: 600px) {
    .home-jumbotron .item-container {
        h1 {
            font-size: 3em;
            text-align: center;
        }

        .intro-box h1 {
            line-height: 60px;
        }
    }
}
