.selected {
    &-image {
        height: 350px;

        img {
            animation: slide-down 750ms forwards ease-out;
            animation-delay: 750ms;
            border-top-right-radius: 3%;
            border-top-left-radius: 3%;
            opacity: 0;
        }
    }

    &-body {
        animation: slide-up 750ms forwards ease-out;
        opacity: 0;
        background: var(--almond);
        box-shadow: 5px -3px 5px -2px rgba(0, 0, 0, 0.4);

        hr {
            border-top: 1px solid var(--eerie-black);
            opacity: 0.3;
        }
    }

    &-title {
        font-family: 'Acme', sans-serif;
        font-size: 3em;

        h1 {
            color: var(--eerie-black);
        }
    }

    &-tech-item {
        padding: 5px 10px;
        background: var(--eerie-black);
        font-size: 0.8em;
        color: var(--almond);
    }

    &-actions a {
        background: var(--eerie-black);
        color: var(--almond);
        border: none;
        font-size: 1.2em;
        padding: 10px 20px;
        opacity: 0.9;
        transition: all 250ms;

        &:hover {
            background: var(--eerie-black);
            opacity: 1;
        }
    }
}

@media screen and (max-width: 576px) {
    .alert {
        font-size: 0.9em;
    }

    .selected-image {
        height: 300px !important;
    }
}

@media screen and (max-width: 430px) {
    .selected-image {
        height: 250px !important;
    }
}

@media screen and (max-width: 400px) {
    .selected-image {
        height: 200px !important;
    }
}
