.navbar {
    background: var(--eerie-black);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999999999999999;

    .navbar-brand a,
    a {
        color: var(--almond) !important;

        &:hover {
            color: var(--tuscany) !important;
        }
    }
}

@media (max-width: 768px) {
    .social-links a {
        margin: 0px 10px;
        font-size: 2em;
    }
}
