.page {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.slide-down-appear,
.slide-down-enter {
    transform: translateY(-101vh); // +1 is required so there's no overlapping
    z-index: 1;
}

.slide-down-appear-active,
.slide-down-enter-active {
    transform: translateY(0px);
    transition: all 300ms ease-out;
}

.slide-down-exit {
    transform: translateY(0px);
}

.slide-down-exit.slide-down-exit-active {
    transform: translateY(101vh); // +1 is required so there's no overlapping
    transition: all 300ms ease-out;
}
