.page {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

// SLIDE DOWN

.slide-down-appear,
.slide-down-enter {
    transform: translateY(-150vh); // +1 is required so there's no overlapping
    z-index: 1;
}

.slide-down-appear-active,
.slide-down-enter-active {
    transform: translateY(0px);
    transition: all 750ms ease-out;
}

.slide-down-exit {
    transform: translateY(0px);
}

.slide-down-exit.slide-down-exit-active {
    transform: translateY(150vh); // +1 is required so there's no overlapping
    transition: all 750ms ease-out;
}

// SLIDE UP

.slide-up-appear,
.slide-up-enter {
    transform: translateY(150vh); // +1 is required so there's no overlapping
    z-index: 1;
}

.slide-up-appear-active,
.slide-up-enter-active {
    transform: translateY(0px);
    transition: all 750ms ease-out;
}

.slide-up-exit {
    transform: translateY(0px);
}

.slide-up-exit.slide-up-exit-active {
    transform: translateY(-150vh); // +1 is required so there's no overlapping
    transition: all 750ms ease-out;
}

// SLIDE LEFT

.slide-left-appear,
.slide-left-enter {
    transform: translateX(-150vw); // +1 is required so there's no overlapping
    z-index: 1;
}

.slide-left-appear-active,
.slide-left-enter-active {
    transform: translateX(0px);
    transition: all 750ms ease-out;
}

.slide-left-exit {
    transform: translateX(0px);
}

.slide-left-exit.slide-left-exit-active {
    transform: translateX(150vw); // +1 is required so there's no overlapping
    transition: all 750ms ease-out;
}

// SLIDE RIGHT

.slide-right-appear,
.slide-right-enter {
    transform: translateX(150vw); // +1 is required so there's no overlapping
    z-index: 1;
}

.slide-right-appear-active,
.slide-right-enter-active {
    transform: translateX(0px);
    transition: all 750ms ease-out;
}

.slide-right-exit {
    transform: translateX(0px);
}

.slide-right-exit.slide-right-exit-active {
    transform: translateX(-150vw); // +1 is required so there's no overlapping
    transition: all 750ms ease-out;
}
